@use"../utility/mixins" as *;
@use"../utility/variables" as*;

.menu{
    padding: 4em;
    p{
        text-align: center;
        color: darkgray;
    }
    .orange{
        color: $orange;
    }
&__container{
&>div{
padding: 2em;
}

}
ul{
    @include flex(space-between,center);
    border-bottom: 2px solid darkgray;
    li{
        padding: auto;
        margin: 1em;
        text-align: center;
        font-size: 1.5rem;
        // &:hover{
        //     color: $orange;
        //     border-bottom: 7px solid $orange;
        // }
    }
}
h2{
    text-align: center;
    padding: 1em;
    font-size: 2rem;
}
h3{
    text-align: center;   
}
&__orange{
    color: $orange;
}

.img{
    // border: 2px solid red;
    background-color: $light-gray;
    border: 2px;
    margin-right: 2em;
    padding: 2em;
    height: 38vh;
    margin-top: 2em;

}
.btn-black{
    background-color: $black;
    color: $white;
    font-size: 1rem;
    width: 100%;
    padding: 1em;
}
.btn-orange{
    background-color: $orange;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    width: 16%;
    color: $white;
padding: 1.5em;
margin: 3em auto;
display:block;
}

  }
  .active{
    color: $orange;
    border-bottom: 6px solid $orange;
  }
  

