@use"../utility/mixins" as *;
@use"../utility/variables" as*;
.support{
    margin: 10em;

    &__container{
        @include flex(space-between,center);

    }
    
  .img{
    padding: 2em;
    background-color: $light-gray;
    text-align: center;
    width: 40%;
    border: 5px;
    margin-right: 4em;
  }  
  h3{
    text-align: center;
    padding: 1em;
  }
  h2{
    text-align: center;
    padding: 1em;
    font-size: 3rem;
  }
  h4{
    font-size: 2rem;
  }
  &__orange{
    color: $orange;
  }
}
